@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#body{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #917DBC;
  font-family: "Poppins", sans-serif;
  color: white;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* dale un tamaño maximo a png de 300px x 300px */
#cuni {
  max-width: 300px;
  max-height: 300px;
  /* dale sombra a la imagen */
}
h2 {
  text-align: center;
  /* añade una sombra */
  text-shadow: 4px 4px 6px #838383;
}
#btn {
  width: 200px;
  height: 56px;
  gap: 0px;
  opacity: 1; 
  border-radius: 28px; 
  background-color: #473870; 
  border: none; 
  color: white; 
  font-size: 16px; 
  cursor: pointer; 
  font-weight: bold;
  font-size: medium;
  /* dale sombra al font */
  text-shadow: 2px 2px 4px #838383;
}
#login {
  background-color: #F0E9C0 ;
  height: 520px;
  max-width: 400px;
  width: 98%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los labels a la izquierda */
  justify-content: center;
  gap: 20px;
  color: #473870;
  font-weight: 600;
  padding: 10px;
  /* centra todo */
  align-content: center;

}

input {
  width: 290px; /* Ancho aumentado */
  height: 40px; /* Altura aumentada */
  text-align: center; /* Centra el texto dentro del input */
  /* haz redondo el input */
  border-radius: 20px;
  /* quita el borde al input */
  border: none;
  /* centralo */

}
#terms {
  width: 40px;
}
#terminos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}